<a href="casa.component.html">
  <button>Volver a la Página de Inicio</button>
</a>
<div class="card-container">

    <p-card header="GOD OF WAR" subheader="$25" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i5.walmartimages.com/seo/God-of-War-PlayStation-4_afd341a0-735f-43b0-b917-07f3bd14622a_2.46f3410af681994543dddb67ec00ad4b.jpeg" />
      </ng-template>
      <p>
      
Kratos, ahora en la mitología nórdica, intenta criar a su hijo Atreus tras la muerte de su esposa. Mientras viajan para esparcir sus cenizas en la cima más alta, enfrentan dioses y criaturas nórdicas, explorando una relación padre-hijo llena de tensión, amor y secretos. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Acción y Aventura" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="THE LAS OF US" subheader="$55" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://media.vandal.net/m/44223/the-last-of-us-part-ii-20199271734386_1.jpg" />
      </ng-template>
      <p>
        Ellie busca venganza tras un evento traumático que cambia su vida. La historia explora la moralidad, el costo de la violencia y las complejidades de la empatía en un mundo postapocalíptico devastado por infectados y conflictos humanos. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Terror y Supervivencia" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="DOOM ETERNAL" subheader="$30" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLkViZW_QJMQYQi1viTlOISEgKwloM5wmNig&s" />
      </ng-template>
      <p>
        El Doom Slayer vuelve para enfrentar hordas demoníacas que invaden la Tierra. Con un combate frenético y un arsenal mejorado, el juego mezcla acción brutal, plataformas dinámicas y una narrativa que amplía el universo de Doom. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Shooter y Acción" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="RESIDENT EVIL 4" subheader="$60" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMKyiWfJxLQyiDNlxQg9mzfXyQJfNTIxhzFA&s" />
      </ng-template>
      <p>
        Leon S. Kennedy regresa en una reimaginación del clásico de 2005, con gráficos modernos y mecánicas mejoradas. Su misión: rescatar a la hija del presidente de los EE.UU. de un culto misterioso, enfrentando terrores y desafíos en un pueblo rural español. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Terror y Supervivencia" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-blue-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="CALL OF DUTY" subheader="$35" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVh3bbHd9w4BIwtBrMvG2adKp3EDwNiev_ng&s" />
      </ng-template>
      <p>
        El final de la trilogía Modern Warfare enfrenta a Task Force 141 contra el villano ultranacionalista Makarov. Ofrece una intensa narrativa bélica, mapas variados y un multijugador renovado con acción táctica y frenética. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Shooter y Acción" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="HORIZON" subheader="$15" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://juegodigitalecuador.com/files/images/productos/1570563349-horizon-zero-dawn-complete-edition-ps4.jpg" />
      </ng-template>
      <p>
        Aloy, una cazadora en un mundo postapocalíptico dominado por máquinas, busca descubrir su origen y los secretos del colapso de la humanidad. Con un entorno abierto y visualmente impresionante, combina exploración, sigilo y combate estratégico. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Acción y Aventura" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="THE EVIL WITHIN" subheader="$25" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRL8mdCaCr1zaa0CYCnGdiWDjsGlV-RiTwhA&s" />
      </ng-template>
      <p>
        Sebastian Castellanos entra al mundo de STEM para buscar a su hija desaparecida, enfrentando horrores psicológicos y monstruos grotescos. El juego mezcla terror de supervivencia con un diseño semiabierto y narrativa emocional. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Terror y Supervivencia" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="UNCHARTED" subheader="$20" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsif9M04m2NI2z3aB19M9YXLP1QpxZPRafQg&s" />
      </ng-template>
      <p>
        Nathan Drake vuelve para una última aventura, buscando el tesoro del pirata Henry Avery junto a su hermano Sam. Con espectaculares escenas de acción, una narrativa emotiva y una conclusión satisfactoria, redefine los estándares de los juegos de acción y aventura. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="Acción y Aventura" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-red-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  