<meta name="viewport" content="width=device-width, initial-scale=1.0">

<a href="casa.component.html">
    <button>Volver a la Página de Inicio</button>
</a>


<div class="flex align-items-center justify-content-center mt-4">
    <div class="block w-20rem h-10rem bg-red-900 text-white font-bold flex align-items-center justify-content-center p-4 border-round">1</div>
</div>


<div class="flex align-items-center justify-content-center mt-4 gap-4">
    <div class="block w-11rem h-10rem bg-yellow-900 text-white font-bold flex align-items-center justify-content-center p-4 border-round">2</div>
    <div class="block w-11rem h-10rem bg-green-900 text-white font-bold flex align-items-center justify-content-center p-4 border-round">3</div>
</div>


<div class="flex flex-wrap justify-content-center gap-4 mt-4">
    <div class="block w-10rem h-10rem bg-green-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">4</div>
    <div class="block w-10rem h-10rem bg-green-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">5</div>
    <div class="block w-10rem h-10rem bg-green-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">6</div>
    <div class="block w-10rem h-10rem bg-green-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">7</div>
    <div class="block w-10rem h-10rem bg-green-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">8</div>
    <div class="block w-10rem h-10rem bg-green-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">9</div>
    <div class="block w-10rem h-10rem bg-green-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">10</div>
    <div class="block w-10rem h-10rem bg-green-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">11</div>
</div>


<div class="flex align-items-center justify-content-center mt-4">
    <div class="block w-15rem h-10rem bg-blue-900 text-white font-bold flex align-items-center justify-content-center p-4 border-round">12</div>
</div>
