
.flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  
  .block {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  .w-20rem {
    width: 20rem;
  }
  
  .w-15rem {
    width: 15rem;
  }
  
  .w-11rem {
    width: 11rem;
  }
  
  .w-10rem {
    width: 10rem;
  }
  
  .h-10rem {
    height: 10rem;
  }
  
  .bg-red-900 {
    background-color: #7f1d1d;
  }
  
  .bg-yellow-900 {
    background-color: #854d0e;
  }
  
  .bg-green-900 {
    background-color: #14532d;
  }
  
  .bg-green-500 {
    background-color: #22c55e;
  }
  
  .bg-blue-900 {
    background-color: #1e3a8a;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  .border-round {
    border-radius: 12px;
  }
  